.notificare-push-onboarding .notificare__onboarding-modal {
    min-width: 360px;
    max-width: 480px;
}

.notificare.notificare-push-onboarding .notificare__onboarding-content {
    flex-direction: row;
    column-gap: 16px;
}

.notificare.notificare-push-onboarding .notificare__onboarding-icon {
    width: 64px;
    height: 64px;
    border-radius: 4px;
}

.notificare.notificare-push-onboarding .notificare__onboarding-text-content {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    overflow: hidden;
}

.notificare.notificare-push-onboarding .notificare__onboarding-title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notificare.notificare-push-onboarding .notificare__onboarding-text {

}

.notificare.notificare-push-onboarding .notificare__onboarding-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    margin-top: 16px;
}

.notificare.notificare-push-onboarding .notificare__onboarding-branding-content {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.notificare.notificare-push-onboarding .notificare__onboarding-branding {
    font-size: 10px;
}

.notificare.notificare-push-onboarding .notificare__onboarding-branding-logo {
    width: 80px;
    height: 16px;
}

.notificare.notificare-push-onboarding .notificare__onboarding-branding-logo #ring,
.notificare.notificare-push-onboarding .notificare__onboarding-branding-logo #leg-ring-background,
.notificare.notificare-push-onboarding .notificare__onboarding-branding-logo #lettering {
    fill: black;
}

.notificare.notificare-push-onboarding .notificare__onboarding-branding-logo #leg,
.notificare.notificare-push-onboarding .notificare__onboarding-branding-logo #leg-overlay {
    fill: #10D1C4;
}

@media (prefers-color-scheme: dark) {
    .notificare.notificare-push-onboarding .notificare__onboarding-branding-logo #ring,
    .notificare.notificare-push-onboarding .notificare__onboarding-branding-logo #lettering,
    .notificare.notificare-push-onboarding .notificare__onboarding-branding-logo #leg,
    .notificare.notificare-push-onboarding .notificare__onboarding-branding-logo #leg-overlay {
        fill: white;
    }

    .notificare.notificare-push-onboarding .notificare__onboarding-branding-logo #leg-ring-background {
        fill: transparent;
    }
}

.notificare.notificare-push-onboarding .notificare__onboarding-actions {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    column-gap: 8px;
}
