.notificare .notificare__notification[data-notification-type="re.notifica.notification.Alert"] {
    width: 500px;
}

.notificare .notificare__notification-alert {
    display: flex;
    flex-direction: column;
}

.notificare .notificare__notification-alert-attachment {
    aspect-ratio: 16 / 9;
    max-width: 100%;
    max-height: 250px;
    margin-bottom: 16px;
}

.notificare .notificare__notification-alert-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.notificare .notificare__notification-alert-subtitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}

.notificare .notificare__notification-alert-message {
}

.notificare .notificare__notification-actions {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 8px;
}

.notificare .notificare__notification-actions__list {
    flex-direction: column;
    flex-wrap: nowrap;
}

.notificare .notificare__notification-actions__list > * {
    width: 100%;
}

/* Callback */

.notificare .notificare__modal-footer__callback {
    display: flex;
    justify-content: right;
}

/* Callback: Camera */

.notificare .notificare__camera-callback {
    width: calc(100% - 2 * var(--notificare-modal-margin));
    max-width: calc(900px - 2 * var(--notificare-modal-margin));
}

.notificare .notificare__camera-callback-video {
    aspect-ratio: 16 / 9;
    background-color: black;
}

.notificare .notificare__camera-callback-canvas {
    aspect-ratio: 16 / 9;
}

/* Callback: Keyboard */

.notificare .notificare__keyboard-callback {
    width: calc(100% - 2 * var(--notificare-modal-margin));
    max-width: calc(700px - 2 * var(--notificare-modal-margin));
}

.notificare .notificare__keyboard-callback-textarea {
    width: 100%;
    height: calc(6 * 1.4em + 16px);

    font-size: 14px;
    line-height: 1.4em;
    padding: 8px;
    border: none;
    outline: none;
    resize: none;
}
