.notificare .notificare__notification[data-notification-type="re.notifica.notification.Image"] {
    max-width: calc(900px - 2 * var(--notificare-modal-margin));
}

.notificare .notificare__notification-image-slider {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.notificare .notificare__notification-image-slider-item {
    scroll-snap-align: start;
    min-width: 100%;
    display: flex;
}

.notificare .notificare__notification-image-slider-image {
    width: 100%;
    object-fit: contain;
}
