.notificare .notificare__notification[data-notification-type="re.notifica.notification.Video"] {
    width: calc(100% - 2 * var(--notificare-modal-margin));
    max-width: calc(900px - 2 * var(--notificare-modal-margin));
}

.notificare .notificare__notification-video,
.notificare .notificare__notification-video-iframe {
    width: 100%;
    height: 500px;
    border: none;
}
