.notificare .notificare__iam-fullscreen,
[data-notificare-theme="light"] .notificare .notificare__iam-fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - var(--notificare-modal-margin));
    height: calc(100vh - var(--notificare-modal-margin));
    z-index: var(--notificare-layer-highest);

    border-radius: 4px;
    box-shadow: 0 0 32px -8px rgba(0, 0, 0, 0.52);
    cursor: pointer;
    overflow: hidden;

    --notificare-iam-fullscreen-gradient-start: rgba(255, 255, 255, 0);
    --notificare-iam-fullscreen-gradient-end: rgba(255, 255, 255, 1)
}

[data-notificare-theme="dark"] .notificare .notificare__iam-fullscreen {
    --notificare-iam-fullscreen-gradient-start: rgba(0, 0, 0, 0);
    --notificare-iam-fullscreen-gradient-end: rgba(0, 0, 0, 1)
}

@media (prefers-color-scheme: dark) {
    .notificare .notificare__iam-fullscreen {
        --notificare-iam-fullscreen-gradient-start: rgba(0, 0, 0, 0);
        --notificare-iam-fullscreen-gradient-end: rgba(0, 0, 0, 1)
    }
}

.notificare .notificare__iam-fullscreen-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notificare .notificare__iam-fullscreen-content {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;

    background: linear-gradient(var(--notificare-iam-fullscreen-gradient-start), var(--notificare-iam-fullscreen-gradient-end));
    padding: 32px 16px 16px;
    width: 100%;
}

.notificare .notificare__iam-fullscreen-content-title {
    font-size: 16px;
    font-weight: 600;

    /* TODO: max-lines 2 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-bottom: 4px;
}

.notificare .notificare__iam-fullscreen-content-message {
    /* TODO: max-lines 3 */
}

.notificare .notificare__iam-fullscreen .notificare__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
}
