.notificare .notificare__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--notificare-backdrop-background);
    overflow: hidden;
    z-index: var(--notificare-layer-high);
}
