.notificare .notificare__button {
    /*--notificare-button-background-color: clear;*/
    /*--notificare-button-text-color: var(--notificare-primary);*/

    /*--notificare-button-background-color--hover: #F4F5F9;*/
    /*--notificare-button-text-color--hover: var(--notificare-primary);*/

    background-color: var(--notificare-button-background-color);
    border-radius: 4px;
    color: var(--notificare-button-text-color);
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.notificare .notificare__button:hover {
    background-color: var(--notificare-button-background-color--hover);
    color: var(--notificare-button-text-color--hover);
}

.notificare .notificare__button--primary {
    --notificare-button-background-color: var(--notificare-primary);
    --notificare-button-text-color: white;

    --notificare-button-background-color--hover: #071CC3;
    --notificare-button-text-color--hover: var(--notificare-button-text-color);
}

.notificare .notificare__button--secondary {
    --notificare-button-background-color: clear;
    --notificare-button-text-color: var(--notificare-primary);

    --notificare-button-background-color--hover: #F4F5F9;
    --notificare-button-text-color--hover: var(--notificare-button-text-color);
}

.notificare .notificare__button--destructive {
    --notificare-button-background-color: clear;
    --notificare-button-text-color: #BA1A1A;

    --notificare-button-background-color--hover: #FFDAD6;
    --notificare-button-text-color--hover: var(--notificare-button-text-color);
}

.notificare .notificare__close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 300ms ease-in-out, border-radius 300ms ease-in-out;
}

.notificare .notificare__close-button .notificare__close-button-icon {
    width: 24px;
    height: 24px;
    fill: black;
}

.notificare .notificare__close-button--solid {
    background-color: #F4F5F9;
    border-radius: 16px;
}

.notificare .notificare__close-button:hover {
    background-color: #F4F5F9;
    border-radius: 4px;
}

.notificare .notificare__close-button--solid {
    background-color: #F4F5F9;
    border-radius: 16px;
}
