.notificare .notificare__button {
    background-color: var(--notificare-button-background-color);
    border-radius: 4px;
    color: var(--notificare-button-text-color);
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.notificare .notificare__button:hover {
    background-color: var(--notificare-button-background-color--hover);
    color: var(--notificare-button-text-color--hover);
}

.notificare .notificare__button--primary {
    --notificare-button-background-color: var(--notificare-primary);
    --notificare-button-text-color: var(--notificare-on-primary);

    --notificare-button-background-color--hover: var(--notificare-primary-hover);
    --notificare-button-text-color--hover: var(--notificare-on-primary);
}

.notificare .notificare__button--secondary {
    --notificare-button-background-color: clear;
    --notificare-button-text-color: var(--notificare-primary);

    --notificare-button-background-color--hover: var(--notificare-surface-hover);
    --notificare-button-text-color--hover: var(--notificare-primary);
}

.notificare .notificare__button--destructive {
    --notificare-button-background-color: clear;
    --notificare-button-text-color: var(--notificare-error);

    --notificare-button-background-color--hover: rgba(255, 218, 214, 0.6);
    --notificare-button-text-color--hover: var(--notificare-error);
}

.notificare .notificare__close-button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 300ms ease-in-out, border-radius 300ms ease-in-out;
}

.notificare .notificare__close-button:hover {
    background-color: var(--notificare-surface-hover);
}

.notificare .notificare__close-button--solid {
    background-color: var(--notificare-surface-hover);
    border-radius: 16px;
}

.notificare .notificare__close-button--solid:hover {
    border-radius: 4px;
}

.notificare .notificare__close-button .notificare__close-button-icon {
    width: 24px;
    height: 24px;
    fill: var(--notificare-on-surface);
}

[data-notificare-theme="dark"] .notificare .notificare__button--destructive {
    --notificare-button-background-color--hover: rgba(255, 218, 214, 0.2);
}

@media (prefers-color-scheme: dark) {
    .notificare .notificare__button--destructive {
        --notificare-button-background-color--hover: rgba(255, 218, 214, 0.2);
    }
}
