.notificare {
    --notificare-primary: #2B42F7;
    --notificare-primary-hover: #071CC3;
    --notificare-on-primary: rgba(255, 255, 255, 0.87);

    --notificare-primary-container: #DFE0FF;
    --notificare-on-primary-container: #000A64;

    --notificare-error: #BA1A1A;

    --notificare-surface: #FFFFFF;
    --notificare-surface-hover: #F4F5F9;
    --notificare-on-surface: rgba(0, 0, 0, 0.87);

    --notificare-shadow-rgb: 0 0 0;

    --notificare-elevation-1: 0px 3px 1px -2px rgb(var(--notificare-shadow-rgb) / 0.2), 0px 2px 2px 0px rgb(var(--notificare-shadow-rgb) / 0.14), 0px 1px 5px 0px rgb(var(--notificare-shadow-rgb) / 0.12);
    --notificare-elevation-2: 0px 2px 4px -1px rgb(var(--notificare-shadow-rgb) / 0.2), 0px 4px 5px 0px rgb(var(--notificare-shadow-rgb) / 0.14), 0px 1px 10px 0px rgb(var(--notificare-shadow-rgb) / 0.12);
    --notificare-elevation-3: 0px 5px 5px -3px rgb(var(--notificare-shadow-rgb) / 0.2), 0px 8px 10px 1px rgb(var(--notificare-shadow-rgb) / 0.14), 0px 3px 14px 2px rgb(var(--notificare-shadow-rgb) / 0.12);
    --notificare-elevation-4: 0px 5px 5px -3px rgb(var(--notificare-shadow-rgb) / 0.2), 0px 8px 10px 1px rgb(var(--notificare-shadow-rgb) / 0.14), 0px 3px 14px 2px rgb(var(--notificare-shadow-rgb) / 0.12);

    --notificare-backdrop-background: rgba(0, 0, 0, 0.5);

    --notificare-layer-medium: 536870912;
    --notificare-layer-high: 1073741824;
    --notificare-layer-highest: 2147483647;

    --notificare-modal-margin: 64px;
}

@media (prefers-color-scheme: dark) {
    .notificare {
        --notificare-primary: #A392FD;
        --notificare-primary-hover: #927EFD;
        --notificare-on-primary: rgba(0, 0, 0, 0.87);

        --notificare-error: #EF4444;

        --notificare-surface: #27282B;
        --notificare-surface-hover: #3D3D40;
        --notificare-on-surface: rgba(255, 255, 255, 0.87);
    }
}

/* CSS reset */

.notificare * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.notificare h1,
.notificare h2,
.notificare h3,
.notificare h4,
.notificare h5,
.notificare h6,
.notificare p,
.notificare span,
.notificare a,
.notificare button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;

    background-color: transparent;
    border: none;
    color: var(--notificare-on-surface);
    text-decoration: none;
    text-transform: none;
}

.notificare a:hover,
.notificare button:hover {
    background-color: initial;
    border: initial;
    color: initial;
    text-decoration: initial;
}
