.notificare {
    --notificare-primary: #2B42F7;
    --notificare-on-primary: #FFFFFF;
    --notificare-primary-container: #DFE0FF;
    --notificare-on-primary-container: #000A64;

    --notificare-surface: #FFFBFF;
    --notificare-on-surface: #1B1B1F;

    --notificare-shadow-rgb: 0 0 0;

    --notificare-elevation-1: 0px 3px 1px -2px rgb(var(--notificare-shadow-rgb) / 0.2), 0px 2px 2px 0px rgb(var(--notificare-shadow-rgb) / 0.14), 0px 1px 5px 0px rgb(var(--notificare-shadow-rgb) / 0.12);
    --notificare-elevation-2: 0px 2px 4px -1px rgb(var(--notificare-shadow-rgb) / 0.2), 0px 4px 5px 0px rgb(var(--notificare-shadow-rgb) / 0.14), 0px 1px 10px 0px rgb(var(--notificare-shadow-rgb) / 0.12);
    --notificare-elevation-3: 0px 5px 5px -3px rgb(var(--notificare-shadow-rgb) / 0.2), 0px 8px 10px 1px rgb(var(--notificare-shadow-rgb) / 0.14), 0px 3px 14px 2px rgb(var(--notificare-shadow-rgb) / 0.12);
    --notificare-elevation-4: 0px 5px 5px -3px rgb(var(--notificare-shadow-rgb) / 0.2), 0px 8px 10px 1px rgb(var(--notificare-shadow-rgb) / 0.14), 0px 3px 14px 2px rgb(var(--notificare-shadow-rgb) / 0.12);

    --notificare-backdrop-background: rgba(0, 0, 0, 0.5);

    --notificare-layer-medium: 536870912;
    --notificare-layer-high: 1073741824;
    --notificare-layer-highest: 2147483647;

    --notificare-modal-margin: 64px;
}

/* CSS reset */

.notificare * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.notificare h1,
.notificare h2,
.notificare h3,
.notificare h4,
.notificare h5,
.notificare h6,
.notificare p,
.notificare span,
.notificare a,
.notificare button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;

    background-color: transparent;
    border: none;
    color: rgb(26, 32, 38);
    text-decoration: none;
    text-transform: none;
}

.notificare a:hover,
.notificare button:hover {
    background-color: initial;
    border: initial;
    color: initial;
    text-decoration: initial;
}
